/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

img[src*="#image-display"]
  border: 1px solid #eee

.theme-color
  color: #418d96